.lyt-header,
.lyt-footer {
  transition: transform 0.3s ease;
}

.lyt-header.is-hidden {
  transform: translateY(-100%);
}

.lyt-footer.is-hidden {
  transform: translateY(100%);
}

.lyt-global_container.is-scroll {
  grid-template-rows: 0 1fr 0;
}

// .lyt-global_container .lyt-main {

// }