//footerを最下部に固定するレイアウト
.lyt-global_container {
  display: grid;
  grid-template: 
    "header" auto
    "main  " 1fr
    "footer" auto;
  // min-height: 100dvh;
  height: 100vh;;
}

.lyt-header{
  background: #5a32b4;
  color: #fff;
  grid-area: header;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}
.lyt-main{
  grid-area: main;
  overflow-y: auto;
  padding: clamp(32px, calc(100 / (1600 / 100vw)), 100px) clamp(8px, calc(32 / (1600 / 100vw)), 32px);
}
.lyt-contents{
  color: #cfcdd2;
  margin: 0 auto;
}
.lyt-footer {
  background: #141414;
  color: #fff;
  grid-area: footer;
  height: 160px;
}

/*
<div class="lyt-global_container">
  <header class="lyt-header">
    header
  </header>

  <main class="lyt-main">
    <div class="lyt-contents">
      contents
    </div>
  </main>

  <footer class="lyt-footer">
    footer
  </footer>
</div>
*/